$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
//$bp-medium: 61.87em ; //900px
$bp-medium: 56.25em; //900px
$bp-small: 47.12em; // 770px
$bp-smallest: 31.25em; // 500px
$bp-600: 31.25em; // 500px

//
$color-primary: #f39c12;
$color-base: #16181d;
$color-nav: #c3c9d4;
$color-bc: #a1abbd;
$color-white: #fff;
$color-primary-light: #1e2126;
$color-black: #0000;

//font sizes

$margin-bottom-1: 1rem;
$margin-bottom-2: 2rem;

$margin-left-1: 1rem;
$margin-left-3: 3rem;
